$breakpoint-sm:640px;
$breakpoint-md:768px;
$breakpoint-lg:1024px;
$breakpoint-xs:1280px;
$breakpoint-2xl:1536px;


$white: #fffeff;
$light : #dbdbea;
$dark : #646375;
$primary : #56739B;
$secondary : #d64767;
$info : #a9c0e4;
$success : #00b76d;
$warning : #f0c200;
$danger : #f72500;


$primary-lighter: #6186b5;
$info-lighter: #B3CBF3;
$secondary-lighter: #F75379;
$danger-lighter: #f72500;
$warning-lighter: #f0c200;
$dark-lighter: #646375;

$background: rgb(243 246 249);