@import './variables';

.ant-btn{
    border-radius: 5px;
    padding: 6px 12px;
    height: unset!important;
    font-weight: 400;
    transition: .3s all ease-in-out;

    &:hover, &:focus {
        --tw-shadow: rgba(0,0,0,.1) 0rem 0.25rem 0.375rem -0.0625rem,rgb(0 0 0/6%) 0rem 0.125rem 0.25rem -0.0625rem;
        --tw-shadow-colored: 0rem 0.25rem 0.375rem -0.0625rem var(--tw-shadow-color),0rem 0.125rem 0.25rem -0.0625rem var(--tw-shadow-color);
        box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
        background: none;
        transition: .3s all ease-in-out;
    }
}



.ant-btn-primary{
    background: $primary;
    background: -webkit-linear-gradient(190deg, $primary 0%, $primary-lighter 100%);
    background: linear-gradient(190deg, $primary 0%, $primary-lighter 100%);
    border:1px solid $primary;
    min-width: 100px!important;
    &:hover, &:focus{
        border:1px solid $primary;
        color:$primary;
    }
}

.ant-btn-default{
    background: $info;
    background: -webkit-linear-gradient(190deg, $info 0%, $info-lighter 100%);
    background: linear-gradient(190deg, $info 0%, $info-lighter 100%);
    border:1px solid $info;
    color: white;
    min-width: 100px!important;
    &:hover, &:focus{
        border:1px solid $info;
        color:$info;
    }
}

.ant-btn-ghost{
    background: $secondary;
    background: -webkit-linear-gradient(190deg, $secondary 0%, $secondary-lighter 100%);
    background: linear-gradient(190deg, $secondary 0%, $secondary-lighter 100%);
    border:1px solid $secondary;
    color: white;
    min-width: 100px!important;
    &:hover, &:focus{
        border:1px solid $secondary;
        color: $secondary;
    }
}

.ant-btn-danger{
    background: $danger;
    background: -webkit-linear-gradient(190deg, $danger 0%, $danger-lighter 100%);
    background: linear-gradient(190deg, $danger 0%, $danger-lighter 100%);
    border:1px solid $danger;
    color: white;
    min-width: 100px!important;
    &:hover, &:focus{
        border:1px solid $danger;
        color: $danger;
    }
}


.ant-btn-warning{
    background: $warning;
    background: -webkit-linear-gradient(190deg, $warning 0%, $warning-lighter 100%);
    background: linear-gradient(190deg, $warning 0%, $warning-lighter 100%);
    border:1px solid $warning;
    color: white;
    min-width: 100px!important;
    &:hover, &:focus{
        border:1px solid $warning;
        color:$warning;
    }
}

.ant-btn-dark{
    background: $dark;
    background: -webkit-linear-gradient(190deg, $dark 0%, $dark-lighter 100%);
    background: linear-gradient(190deg, $dark 0%, $dark-lighter 100%);
    border:1px solid  $dark;
    color: white;
    min-width: 100px!important;
    &:hover, &:focus{
        color: $dark;
        background: none;
        border:1px solid $dark;
    }
}


.ant-btn-icon-danger{
        padding: 0px 2px!important;
        box-shadow: none!important;
        border: none!important;
        color: $danger;
        &:hover, &:focus{
            font-weight: bold;
            color: $danger;
            opacity: .4;
    }
}

.ant-btn-icon-ghost{
    padding: 0px 2px!important;
    box-shadow: none!important;
    border: none!important;
    color: $secondary;
    &:hover, &:focus{
        font-weight: bold;
        color: $secondary;
        opacity: .4;
    }
}

.ant-btn-icon-primary{
    padding: 0px 2px!important;
    box-shadow: none!important;
    border: none!important;
    color: $primary;
    &:hover, &:focus{
        font-weight: bold;
        color: $primary;
        opacity: .4;
    }
}

.ant-btn-icon-warning{
    padding: 0px 2px!important;
    box-shadow: none!important;
    border: none!important;
    color: $warning;
    &:hover, &:focus{
        font-weight: bold;
        color: $warning;
        opacity: .4;
    }
}

.ant-btn-icon-primary-new{
    background: $primary;
    background: -webkit-linear-gradient(190deg, $primary 0%, $primary-lighter 100%);
    background: linear-gradient(190deg, $primary 0%, $primary-lighter 100%);
    border:1px solid $primary;
    color: white;
    &:hover, &:focus{
        border:1px solid $primary;
        color:$primary;
    }
}
.ant-btn-icon-secondary-new{
    background: $secondary;
    background: -webkit-linear-gradient(190deg, $secondary 0%, $secondary-lighter 100%);
    background: linear-gradient(190deg, $secondary 0%, $secondary-lighter 100%);
    border:1px solid $secondary;
    color: white;
    &:hover, &:focus{
        border:1px solid $secondary;
        color:$secondary;
    }
}


// Icons Icons

.ant-btn.icon{
    padding: 0px 8px!important;
}
.ant-btn > .anticon + span, .ant-btn > span + .anticon{
    margin: 0px!important;
}