@import './variables';


.nestedTable{
    .ant-table-thead > tr > th{
        background-color: $light!important;
        color: $dark!important;
    }
}

// .tableVales{

    .react-resizable {
        position: relative;
        background-clip: padding-box;
    }
      
    .react-resizable-handle {
        position: absolute;
        right: -5px;
        bottom: 0;
        z-index: 1;
        width: 10px;
        height: 100%;
        cursor: col-resize;
    }

    .ant-table-cell{
        font-size: $smallest-size!important;
    }
    .ant-tag{
        font-size: $smallest-size!important;
    }
    @media (min-width: $breakpoint-lg) {
        .ant-table-cell{
            font-size: $regular-size!important;;
        }
        .ant-tag{
            font-size: $regular-size!important;;
        }
    }
  
// }