@import './variables';


.nestedTable{
    .ant-table-thead > tr > th{
        background-color: $light!important;
        color: $dark!important;
    }
}

.tableVales{

    
    .ant-table-cell{
        font-size: $small-size!important;;   
    }
    @media (min-width: $breakpoint-sm) {
        .ant-table-cell{
            font-size: $regular-size!important;;
        }
    }
  
}