@import './variables';

.ant-table-thead > tr > th {
    background-color: $primary!important;
    color: white!important;
}
.nestedTable{
    .ant-table-thead > tr > th{
        background-color: $info-lighter!important;
        color: white!important;
    }

    .ant-table-cell {
        padding: 6px 8px !important;
    }
}

.nestedTable{
    .ant-table-tbody{
        tr{
            td:nth-child(1)::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                background-color: $info-lighter!important;
                height: 100%;
            }
        }
    }
}

// .tableVales{
    .react-resizable {
        position: relative;
        background-clip: padding-box;
    }
      
    .react-resizable-handle {
        position: absolute;
        right: -5px;
        bottom: 0;
        z-index: 1;
        width: 10px;
        height: 100%;
        cursor: col-resize;
    }

    .ant-table-cell{
        font-size: $smallest-size!important;
    }
    .ant-tag{
        font-size: $smallest-size!important;
    }
    @media (min-width: $breakpoint-lg) {
        .ant-table-cell{
            font-size: $regular-size!important;;
        }
        .ant-tag{
            font-size: $regular-size!important;;
        }
    }
  
// }