@import './variables';


.ant-steps-item-title{
    font-weight: 300!important;
    font-size: 14px!important;
    
}

.ant-steps-item-icon {
    width: 28px!important;
    height: 28px!important;
    line-height: 28px!important;
}


.steps-form{
    .ant-form-item-label{
        padding: 0!important;
    }
    
    label{
        font-size: $small-size!important;
        color: $dark!important;
    }

    .ant-select-selection-item{
        color: $dark!important;
    }

    @media (min-width: $breakpoint-sm) {
        label{
            font-size: $regular-size!important;
        }
    }
}

.create-vale{
    .ant-table-cell{
        font-size: $regular-size!important;
        padding: 8px 8px !important;
    }

    .ant-table-thead, .ant-table-body{
        
        .ant-table-cell{
            font-size: $small-size!important;
        }

        @media (min-width: $breakpoint-sm) {
            .ant-table-cell{
                font-size: $regular-size!important;
            }
        }
    }
}