@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/scss/variables';
@import './assets/scss/buttons.scss';

#root{
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
    --antd-wave-shadow-color: $secondary !important;
}
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover{
    border-color: $secondary !important;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
    box-shadow: 0 0 0 2px rgba(214 71 103 / 20%) !important;

}
*{
  font-family: 'Roboto', sans-serif!important;
}

.ant-layout{
  background-color: $white;
}

.ant-pagination-item {
  line-height: 34px!important;
}


.ant-image-preview-img{
    display: unset !important;
}

.bg-glassmorphism{
    background: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,255,255,0.15);
}

.ant-switch:not(.ant-switch-checked){
    background-color: $info !important;
}

.ant-switch-checked{
    background-color: $primary !important;
}
