@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/scss/variables';
@import './assets/scss/buttons.scss';

#root{
    min-height: 100vh;
}

html{
  scroll-behavior: smooth;
}

*{
  font-family: 'Roboto', sans-serif!important;
}

.ant-layout{
  background-color: $white;
}

.ant-pagination-item {
  line-height: 34px!important;
}
