/* 



<div class="rectangulo"> 

<button id="encriptar"></button>
</div>


const rect = document.querySelector('.rectangulo');
const btn = document.querySelector('#encriptar');
btn.addEventListener('click', () => {
    rect.classList.toggle('active');
});

.rectangulo{
    width: 250px;
    height: 400px;
    background-color: white;
}


.rectangulo.active {
    height: 100px;
    background-color: red;
} */
